* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  background: transparent;
  color: #fff;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-family: fantasy;
  color: black;
}

.container {
  margin-top: 20px;
}

.text-article {
  color: rgb(0, 0, 0);
  font-family: Verdana;
  font-size: 1.5rem;
  display: flex;
  height: 100%;
  padding-top: 50px; 
}

.profile-img-container {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #57ff41;
  animation: bounce 2s infinite;
}

.data {
  display: inline-block;
  color: #A9D31D ;
  padding: 5px;
  border-radius: 50%;
  animation: bounce 2s infinite;
}

.profile-img {
  width: 250px; 
  height: 250px; 
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.background {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -30%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.biodata {
  font-family: Verdana;
  color: black; 
  font-size: 1.0rem;
  padding: 50px 0; 
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px); 
  height: auto;
  fill: #ff5500; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #ff5500; 
  color: #000; 
  font-style: italic;
}

.sliding-text {
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  top: 10%;
  text-align: center;
}

.sliding-text span {
  display: inline-block;
  will-change: transform, color;
}